.splashcreen {
  z-index: 999;
  position: fixed;
  inset: 0;
  background-color: var(--dark-background-color);
  background-image: url('./../compx/media/background_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--smoke-color);
  overflow: hidden;
  display: flex;
  place-items: center;
  animation: fadeout 1s ease-in-out forwards;
  animation-delay: 1.5s;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(
      180deg,
      var(--navy_opaque-background-color),
      var(--dark-background-color)
    );
  }

  & .app-container {
    height: min(100dvh, var(--width-XL));
    display: block;
  }

  & .splashscreen-logos {
    position: absolute;
    height: auto;
    width: min(100%, var(--width-MD));
    bottom: 3rem;
    left: 2rem;

    & > * {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }

    & .name {
      font-size: 3.5em;
      text-transform: capitalize;
      padding-bottom: 0.5rem;
    }
    & .title {
      font-size: 1.5em;
      text-transform: capitalize;
      /* font-family: 'Tangerine', serif; */
      font-weight: 400;
      font-style: normal;
    }
  }

  & .splashscreen-banner {
    position: absolute;
    height: auto;
    min-height: calc(50dvh + 25px);
    width: auto;
    top: 0;
    right: 1rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    padding-top: 0;

    & .poster {
      height: 50vmin;
      width: 100%;
      display: grid;
      grid-template-columns: auto 3px auto;
      grid-template-rows: auto;
      gap: 0.5em;
      flex: 1;

      & > * {
        flex: 1;
        display: flex;
        place-items: end;

        & .content {
          height: fit-content;
          width: 100%;
        }

        &:nth-child(2) {
          background-color: var(--smoke-background-color);

          &::after {
            position: absolute;
            content: ' ';
            height: 3px;
            aspect-ratio: 1;
            background-color: inherit;
            border-radius: 50%;
            top: calc(100% - 2px);
            right: 0;

            -webkit-animation: blink 3s ease-in-out infinite;
          }
        }
      }

      & .left-block,
      .right-block {
        width: fit-content;
        padding: 0.3em;
        padding-bottom: 1.5em;
        text-transform: uppercase;
      }

      & .left-block {
        font-size: 1.1rem;
        font-weight: bold;

        & .content {
          writing-mode: vertical-lr;
          text-orientation: upright;
        }
      }
      & .right-block {
        & .content {
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: repeat(3, auto);
          column-gap: 0.1rem;
          row-gap: 1.4rem;
          padding-left: 1rem;

          & p {
            position: relative;
            padding: 0;
            margin: 0;
            width: 100%;
            font-weight: bold;
            font-size: 2rem;
            aspect-ratio: 1;
          }
        }
      }
    }

    & .signage {
      width: 100%;
      text-align: left;
      padding: 5px;
      font-size: 2.1rem;

      font-family: 'Tangerine', serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
  .splashcreen {
    & .splashscreen-logos {
      width: auto;
    }
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(10);
  }
}

@keyframes popup {
  60% {
    border-radius: 50%;
    height: 110vmin;
    width: 110vmin;
    top: calc(100% - 55vmin);
    right: -55vmin;
  }

  100% {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    height: 200vmax;
    width: 200vmax;
    top: calc(((300vmax - 100vh) / 2) * -1);
    right: -50vmin;
  }
}

@keyframes fadeout {
  0% {
    height: 100dvh;
  }

  100% {
    /* opacity: 0; */
    height: 0;
  }
}

@keyframes slideup {
  100% {
    top: -10%;
  }
}

@keyframes menu_opaque {
  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }
}
