nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  color: var(--dark-color);
  color: var(--smoke-color);
  z-index: 300;
  padding: 0.3rem 0;
  animation: color-in linear forwards;
  animation-timeline: scroll();
  animation-range: calc(100dvh - 5px) calc(100dvh + 5px);

  & .app-container {
    width: min(100%, var(--width-XL));
    display: flex;
    justify-content: space-between;
  }

  & .nav-logo,
  .nav-menu {
    position: relative;
    width: auto;
    height: auto;
    min-height: 40px;
    min-width: 80px;
    width: auto;
  }

  & .nav-logo {
    width: 80px;
  }

  & .nav-menu {
    padding: 0;
    display: flex;
    align-items: center;

    & ul {
      padding: 0;
      margin: 0;
      list-style: none;
      gap: 1.2rem;
      display: flex;
      flex-wrap: nowrap;

      & li {
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
        font-size: 1.2rem;
        font-weight: bold;
        user-select: none;
        cursor: pointer;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes color-in {
  0%,
  100% {
    color: var(--dark-color);
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    & .nav-menu {
      padding: 0;
      position: absolute;
      right: 0;
      top: -0.5rem;

      & ul {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        height: 100dvh;
        overflow: hidden;
        width: 0;
        padding: 0.5rem 0;
        transition: width 0.5s ease-in-out;

        &::before {
          --mute-background-color: rgba(187, 187, 187, 0.353);

          position: absolute;
          content: '';
          inset: 0;
          background: var(--mute-background-color);
          filter: blur(15px);
        }

        & li {
          width: 100%;
          padding: 0 2.5rem;
          padding-right: 1rem;
          text-align: right;
          white-space: nowrap;

          &:hover {
            background-color: var(--navy-background-color);
          }
        }
      }

      & ul.open {
        width: 50dvw;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}
